@page "/User"
@using Blazor.Server.Sample.Models.User
@using Blazor.Server.Sample.Common
@using Blazor.Server.Sample.Data.User
@inject IUserClientService _userClientService
@inject NavigationManager _navigationManager

<div class="col-md-12">
    <NavLink class="nav-link" href="AddOrUpdateUser">
        <button class="btn btn-success">AddUser</button>
    </NavLink>
</div>

<br/>

<div class="col-md-12">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Age
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Is Active
                </th>
                <th>
                    Last Login Date
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>

        <tbody>
            @if (ApiResult != null)
            {
                @foreach (var userSelect in ApiResult.Data)
                {
                    <tr>
                        <td>@userSelect.UserName</td>
                        <td>@userSelect.FullName</td>
                        <td>@userSelect.Email</td>
                        <td>@userSelect.PhoneNumber</td>
                        <td>@userSelect.Age</td>
                        <td>@userSelect.Gender</td>
                        <td>@userSelect.IsActive</td>
                        <td>@userSelect.LastLoginDate</td>
                        <td>
                            <NavLink class="nav-link" href="@{$"AddOrUpdateUser?username{userSelect.UserName}"}">
                                <button class="btn btn-warning">Edit</button>
                            </NavLink>
                        </td>
                        <td>
                          <button class="btn btn-danger" @onclick="() => DeleteUser(userSelect.UserName)"></button>
                        </td>
                    </tr>
                 }
             }
        </tbody>

    </table>
</div>


@code {

    public ApiResult<List<UserDto>> ApiResult { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        ApiResult = await _userClientService.GetAllUsersAsync();
        await Task.CompletedTask;
    }

    protected async void DeleteUser(string userName)
    {
        try
        {
            await _userClientService.DeleteUserByUserName(userName);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

}
